

body{
    margin: 0;
    cursor:none;
}
.back{
    display: flex;
    flex-direction: column;
    height: 3200px;
    width: 100%;
    align-items: center;
    position: relative;
    opacity: 2;
    font-family: 'Cormorant Garamond', serif;
    background: #F9F5EF;
    overflow-x: hidden;
}
.circle{
    width: 80px;
    height: 80px;
    border: 1px solid #c19a5b;
    position: fixed;
    opacity: 0.6;
    border-radius:50%;
    transition-delay: 0.01s;
}
.circleInside{
    width: 10px;
    height: 10px;
    background-color: #c19a5b;
    position: fixed;
    border-radius:50%;
}